<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <title> Web Publishers | Design Portfolio</title>
        <meta name="description" content="Draggable Dual-View Slideshow: A Slideshow with two views and content area" />
        <meta name="keywords" content="draggable, slideshow, fullscreen, carousel, views, zoomed, 3d transform, perspective, dragdealer" />
        <meta name="author" content="Codrops" />
        <link rel="shortcut icon" href="/favicon.ico">
        <link href='http://fonts.googleapis.com/css?family=Playfair+Display:900,400|Lato:300,400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="/css/base.css" />
        <link rel="stylesheet" type="text/css" href="/css/dragdealer.css" />
        <link rel="stylesheet" type="text/css" href="/css/component.css" />    
        <script src="/js/motion.js"></script>

        <!-- 
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
        -->
        <link rel="icon" type="image/png" sizes="256x256" href="/images/favicon/256x256.ico">
        <link rel="icon" type="image/png" sizes="64x64" href="/images/favicon/64x64.ico">
        <link rel="icon" type="image/png" sizes="48x48" href="/images/favicon/48x48.ico">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/32x32.ico">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/16x16.ico">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
    </head>

    <body>
        <div class="container">
            <header id="header" class="codrops-header">
                <h1>Web Publishers &#38;<br> Design Portfolio</h1>
                <button class="slider-switch">Switch View</button>
            </header>
            <div id="overlay" class="overlay">
                <div class="info">
                    <h2>Web Tutorial</h2>
                    <span class="info-drag">Drag Sliders</span>
                    <span class="info-keys">Use Arrows</span>
                    <span class="info-switch">Switch view</span>
                    <button>Close</button>	
                </div>
            </div>
            <div id="slideshow" class="dragslider">
                <section class="img-dragger img-dragger-large dragdealer">
                    <div class="handle">                    
                        {% block content01__head %}{% endblock %}
                        {% block content02__head %}{% endblock %}
                        {% block content03__head %}{% endblock %}
                        {% block content04__head %}{% endblock %}
                        {% block content05__head %}{% endblock %}
                        {% block content06__head %}{% endblock %}                                                
                    </div>
                </section>
                <section class="pages">
                    {% block content01__body %}{% endblock %}
                    {% block content02__body %}{% endblock %}
                    {% block content03__body %}{% endblock %}
                    {% block content04__body %}{% endblock %}
                    {% block content05__body %}{% endblock %} 
                    {% block content06__body %}{% endblock %}         
                </section>
            </div>
        </div> 

        <!-- include html -->
        {# {% include "component/.njk" %} #}
        <!-- include html -->

        {% block scripts %}{% endblock %}
    </body>

</html>