<div class="S stoveHeader   "><div class="S stoveHeader__inner">
            <hgroup>
                <h1><a href="//www.onstove.com" data-st-log="logo"></a></h1>
            </hgroup>
            <div class="S game">
            <div class="S dropdown">
                <a class="S dropdown__toggle game__title" data-st-log="all_game"><i class="S icon icon--list"></i> 전체게임</a>
				<div id="popup-game" class="S dropdown__child game__list" data-except="true" style="margin: -4px 0 0 0;"></div>
			</div>
        </div>
            <div class="S game--sub"><a href="http://toonspoon.service.onstove.com" class="S game--sub__title" data-st-log="toonspoon">툰스푼</a></div>
            <div class="S game--sub"><a href="http://toonspoon.service.onstove.com" class="S game--sub__title" data-st-log="toonspoon">Game Store</a></div>
            <nav class="S nav nav--utill">
		<div class="S nav__multilingual">
					<div class="S dropdown">
				
					
            <a class="S dropdown__toggle nav__multilingual__toggle" data-st-log="lang">
            <span class="S">한국어</span></a>
    
        <div class="S dropdown__child" data-except="true" style="margin: 6px 0 0 -75px;">
            <div id="languageContext" class="S popup--base-b popup--shape-a">
                <ul class="S">
                <li class="S"><a class="S" data-st-log="lang.en"><span class="S">English</span></a></li>
<li class="S"><a class="S" data-st-log="lang.ja"><span class="S">日本語</span></a></li>
<li class="S"><a class="S on" data-st-log="lang.ko"><span class="S">한국어</span></a></li>
<li class="S"><a class="S" data-st-log="lang.zh-tw"><span class="S">中文 (繁體)</span></a></li>
                </ul>
            </div>
        </div>
    </div>
				</div>
		
		<div class="S nav__download">
					<div class="S dropdown">
				
					
            <a class="S dropdown__toggle nav__download__toggle" data-st-log="download">
                <i class="S icon icon--download"></i>
                <div class="S nav__download__tootip popover--base-a popover--center popover--inline">
                    <span class="S popover__text">다운로드</span>
                </div>
            </a>
            <div class="S dropdown__child" data-except="true" style="margin: 12px 0 0 -114px;">
                <div id="popup-download" class="S popup--base-a popup--shape-a">
                    <div class="S download">
                        <ul class="S">
                            <li class="S">
                                <a href="javascript:;" id="stove_pc_download_btn" class="S" data-st-log="download.client">
                                    <i class="S icon icon--pc"></i>
                                    <span class="S">STOVE 클라이언트<br>다운로드</span>
                                </a>
                            </li>
                            <li>
                                <a href="//www.onstove.com/stoveApp" class="S" data-st-log="download.app">
                                    <i class="S icon icon--mobile"></i>
                                    <span class="S">STOVE 모바일앱<br>다운로드</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div></div>
				</div>
			
			<div class="S nav__notifications"><div class="S dropdown">
                <a class="S dropdown__toggle nav__notifications__toggle" data-st-log="notify">
                    <i class="S icon icon--bell"></i>
                    <div class="S nav__notifications__tootip popover--base-a popover--center popover--inline">
                        <span class="S popover__text">알림</span>
                    </div>
                <span class="number">6</span></a>
                <div class="S dropdown__child" data-except="true" style="margin: 11px 0 0 -353px;">
                    <div id="popup-notifications" class="S popup--base-a popup--shape-a">
                        <h3 class="S">알림</h3>
                        <a href="https://member.onstove.com/member/notification/general" class="S more" data-st-log="notify.more">
                            <i class="S icon icon--plus"></i>
                        </a>
                        <div class="S tab tab--base-a tab--shape-b">
                             <nav class="S tab__nav tab__item-2">
                                <ul class="S tab__nav__items">
                                    <li class="S tab__nav__items__item is-active" data-st-log="notify.message">
                                        <a id="notifications_count" contentid="notifications" class="S tab__nav__items__item__link is-unbind_ui-js">알림메시지<span class="S">4</span></a>
                                    </li>
                                    <li class="S tab__nav__items__item" data-st-log="notify.friend_req">
                                        <a id="request_count" contentid="request" class="S tab__nav__items__item__link is-unbind_ui-js">받은 친구요청<span class="S">2</span></a>
                                    </li>
                                 </ul>
                             </nav>
                             <div class="S tab__content">
                                <div id="notifications" class="S tab__pane notice is-active">
                                    <div class="scroll-wrapper S scrollbar-macosx js-scrollbar" style="position: relative;"><ul id="notification_scroll" class="S scrollbar-macosx js-scrollbar scroll-content" style="height: 264px; margin-bottom: 0px; margin-right: 0px; max-height: none;">
            
                                    </ul><div class="scroll-element scroll-x"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar"></div></div></div><div class="scroll-element scroll-y"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar"></div></div></div></div>
                                </div>
                                <div id="request" class="S tab__pane notice">
                                    <div class="scroll-wrapper S scrollbar-macosx js-scrollbar" style="position: relative;"><ul id="request_scroll" class="S scrollbar-macosx js-scrollbar scroll-content" style="height: 264px; margin-bottom: 0px; margin-right: 0px; max-height: none;"><li class="S">
        <a href="https://member.onstove.com/member/notification/friend_request" class="S notice__link" target="_self" data-st-log="notify.friend_req.list">
        <div class="S notice__link__img">
            <img class="S" src="https://d3kxs6kpbh59hp.cloudfront.net/pine/PROFILE/33/31/64/100/10643133_135_135.jpg?1522171258314" alt="Profile Image">
        </div>
        <div class="S notice__link__info">
            <span class="S notice__link__info__nickname">google_2</span><span class="Sfalse">님이 친구 요청을 했습니다.</span>
            <div class="S notice__link__info__time">
                <p>
                    <time>2017년 1월 15일</time>
                    <i class="S icon icon--fliking"></i>
                </p>
            </div>
        </div>
    </a>
    </li><li class="S">
        <a href="https://member.onstove.com/member/notification/friend_request" class="S notice__link" target="_self" data-st-log="notify.friend_req.list">
        <div class="S notice__link__img">
            <img class="S" src="https://d3kxs6kpbh59hp.cloudfront.net/pine/PROFILE/9/84/63/100/10638409_1482317432_135_135.jpg?1482317432" alt="Profile Image">
        </div>
        <div class="S notice__link__info">
            <span class="S notice__link__info__nickname">리아파라파라리자스</span><span class="Sfalse">님이 친구 요청을 했습니다.</span>
            <div class="S notice__link__info__time">
                <p>
                    <time>2016년 12월 24일</time>
                    <i class="S icon icon--fliking"></i>
                </p>
            </div>
        </div>
    </a>
    </li></ul><div class="scroll-element scroll-x"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar"></div></div></div><div class="scroll-element scroll-y"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar"></div></div></div></div>
                                </div>
                             </div>
                        </div>
                    </div>
                </div></div></div>
			<ul class="S nav__items">
				<li class="S nav__items__item">
				<a href="//timeline.onstove.com/timeline/10323126/cards" class="S nav__items__item__menu" data-st-log="nickname">
							<img class="S profile profile--base-a profile--shape-h" src="//d2h5doj4xlbun0.cloudfront.net/member-0.0.1175/images/share/miss_profile_135x135.png" alt="User Profile Image">
							<span class="S">11111_2</span>
						</a>
				
        <div class="S dropdown">
            <a class="S dropdown__toggle nav__items__item__more" data-st-log="more"></a>
        
            <div class="S dropdown__child" data-except="true" style="margin: 10px 0 0 -125px;">
                <div id="popup-menu" class="S popup--base-b popup--shape-a">
                    <ul class="S">
                        <li class="S" data-st-log="more.mycash"><a href="https://bill.onstove.com/History/UserCashList.aspx" class="S"><span class="S">내 캐시</span><i class="S icon icon--arrow"></i></a></li>
                        <li class="S" data-st-log="more.myinfo"><a href="https://member.onstove.com/member/info" class="S"><span class="S">내 정보</span><i class="S icon icon--arrow"></i></a></li>
                        <li class="S" data-st-log="more.message"><a href="https://member.onstove.com/member/message/general" class="S"><span class="S">쪽지</span><i class="S icon icon--arrow"></i></a></li>
                        <li class="S" data-st-log="more.secu_setting"><a href="https://member.onstove.com/member/secure" class="S"><span class="S">보안설정</span><i class="S icon icon--arrow"></i></a></li>
                        <li class="S" data-st-log="more.notice"><a href="//help.onstove.com/web/notice/noticeList/page" target="_blank" class="S"><span class="S">공지사항</span><i class="S icon icon--arrow"></i></a></li>
                        <li class="S" data-st-log="more.customer_center"><a href="//help.onstove.com/web/csMain/page" target="_blank" class="S"><span class="S">고객센터</span><i class="S icon icon--arrow"></i></a></li>
                        <li class="S" data-st-log="more.report_center"><a href="//help.onstove.com/web/report/reportMain/page" target="_blank" class="S"><span class="S">신고센터</span><i class="Sicon icon--arrow"></i></a></li>
<li class="S" data-st-log="more.guide"><a href="//help.onstove.com/web/faq/serviceMain/page?game_nm=STOVE&amp;game=2017080100" target="_blank" class="S"><span class="S">STOVE 가이드</span><i class="S icon icon--arrow"></i></a></li>
                        <li class="S"><a id="gnbLogout" class="S" data-st-log="more.logout"><span class="S">로그아웃</span></a></li>
                    </ul>
                </div>
            </div>
</div>
				</li>
		</ul></nav>
        </div></div>