<aside id="sidebar">				
    {% include "../component/login.njk" %} 	
    
    <!-- 고객센터 -->    
    {% include "../component/content_cs.njk" %}

    <!-- //고객센터 -->
    <!-- 퀵메뉴 -->
    {% include "../component/content_quick.njk" %}

    <!-- //퀵메뉴 -->
    <!-- event banner -->
    {% include "../component/content_event.njk" %}
    <!-- //event banner -->
</aside>