<aside>    
    
    {% include "../component/login_main.njk" %}

    <!-- 공지사항 -->    
    {% include "../component/content_notice.njk" %}
    <!-- //공지사항 -->

    <!-- 고객센터 -->
    {% include "../component/content_cs.njk" %}    
    <!-- //고객센터 -->   
 
</aside>