<div class="topSection">    
   
    <!-- promotion banner -->
    <div id="promotion">
        <h2 class="blind">promotion 영역</h2>
        <ul class="promotionList">
            <li><a href="javascript:;"><img src="/images/temp/promotion_main_01.jpg" alt="프로모션 배너"></a></li>
            <li><a href="javascript:;"><img src="/images/temp/promotion_main_02.jpg" alt="프로모션 배너"></a></li>
        </ul>
        <div class="btnControl">
            <a href="#" class="btnPrev">이전</a>
            <a href="#" class="btnNext">다음</a>
            <p class="page"><b></b>/<span></span></p>
        </div>
    </div>
    <!-- //promotion banner -->			
</div>