{% extends "layouts/index.njk" %}

{% block breadcrumb %}{% endblock %}

{% block content %}{% endblock %}


{% block content01__head %}
    <div class="slide" data-content="content-1">
        <div class="img-wrap"><img src="../images/01_main.jpg" alt="img1"/></div>
        <h2>11 STREET<span>Distilling design ideas and other interesting topics</span></h2>
        <button class="content-switch">Read more</button>
    </div>   
{% endblock %}
{% block content01__body %}
    <div class="content" data-content="content-1">
        <h2>11 STREET<span>Distilling design and other interesting methods</span></h2>    
        <img style="width: 100%; margin-bottom: -5px;" src="/images/01/01.jpg" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/01/02.jpg" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/01/03.jpg" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/01/04.jpg" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/01/05.jpg" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/01/06.jpg" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/01/07.jpg" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/01/08.jpg" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/01/09.gif" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/01/10.jpg" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/01/11.jpg" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/01/12.jpg" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/01/13.jpg" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/01/14.jpg" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/01/15.jpg" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/01/16.jpg" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/01/17.jpg" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/01/18.gif" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/01/19.jpg" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/01/20.gif" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/01/21.jpg" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/01/22.jpg" alt=""/>     

        <p class="related">
            You might also like <a href="http://tympanus.net/Development/ArticleIntroEffects/">Inspiration for Article Intro Effects</a>
        </p>
    </div>
{% endblock %}


{% block content02__head %}
    <div class="slide" data-content="content-2">
        <div class="img-wrap"><img src="/images/02_main.jpg" alt="img2"/></div>
        <h2>Assonance - Poster<span>King Arthur's creative team techniques</span></h2>
        <button class="content-switch">Read more</button>
    </div>    
{% endblock %}
{% block content02__body %}
    <div class="content" data-content="content-2">
        <h2>Assonance - Poster<span>King Arthur's creative team techniques</span></h2>    
        <img style="width: 100%; margin-bottom: -5px;" src="/images/02/01.jpg" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/02/02.jpg" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/02/03.jpg" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/02/04.jpg" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/02/05.jpg" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/02/06.jpg" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/02/07.jpg" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/02/08.jpg" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/02/09.jpg" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/02/10.jpg" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/02/11.jpg" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/02/12.jpg" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/02/13.jpg" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/02/14.jpg" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/02/15.jpg" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/02/16.jpg" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/02/17.jpg" alt=""/>
        
        <p class="related">
            You might also like <a href="http://tympanus.net/Development/ArticleIntroEffects/">Inspiration for Article Intro Effects</a>
        </p>
    </div>
{% endblock %}


{% block content03__head %}
    <div class="slide" data-content="content-3">
        <div class="img-wrap"><img src="/images/03_main.jpg" alt="img3"/></div>
        <h2>UI Process<span>Nothing is out there&mdash;let's try again</span></h2>
        <button class="content-switch">Read more</button>
    </div>    
{% endblock %}
{% block content03__body %}
    <div class="content" data-content="content-3" style="background:white;">
        <h2>UI Process<span>Nothing is out there&mdash;let's try again</span></h2>
        
        <img style="width: 100%; margin-bottom: -5px;" src="/images/03/01.png" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/03/02.png" alt=""/>
        
        <p class="related">
            You might also like <a href="http://tympanus.net/Development/ArticleIntroEffects/">Inspiration for Article Intro Effects</a>
        </p>
    </div>
{% endblock %}


{% block content04__head %}
    <div class="slide" data-content="content-4">
        <div class="img-wrap"><img src="/images/04_main.jpg" alt="img4"/></div>
        <h2>5 Duck<span>Heated conversations in the back yard</span></h2>
        <button class="content-switch">Read more</button>
    </div>
{% endblock %}
{% block content04__body %}
    <div class="content" data-content="content-4" style="background:#f4f4f4;">
        <h2>5 Duck<span>Heated conversations in the back yard</span></h2>
        
        <img style="width: 100%; margin-bottom: -5px;" src="/images/04/01.png" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/04/02.png" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/04/03.png" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/04/04.png" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/04/05.png" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/04/06.png" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/04/07.png" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/04/08.png" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/04/09.png" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/04/10.png" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/04/11.png" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/04/12.png" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/04/13.png" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/04/14.png" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/04/15.png" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/04/16.png" alt=""/>
        
        <p class="related">
            You might also like <a href="http://tympanus.net/Development/ArticleIntroEffects/">Inspiration for Article Intro Effects</a>
        </p>
    </div>
{% endblock %}


{% block content05__head %}
    <div class="slide" data-content="content-5">
        <div class="img-wrap"><img src="/images/05_main.jpg" alt="img5"/></div>
        <h2>UPC<span>Crazy nature and other weather ideas</span></h2>
        <button class="content-switch">Read more</button>
    </div>
{% endblock %}
{% block content05__body %}
    <div class="content" data-content="content-5" style="background:white;">
        <h2>UPC<span>Crazy nature and other weather ideas</span></h2>
        
        <img style="width: 100%; margin-bottom: -5px;" src="/images/05/01.png" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/05/02.png" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/05/03.png" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/05/04.png" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/05/05.png" alt=""/>
        
        <p class="related">
            You might also like <a href="http://tympanus.net/Development/ArticleIntroEffects/">Inspiration for Article Intro Effects</a>
        </p>
    </div>
{% endblock %}


{% block content06__head %}
    <div class="slide" data-content="content-6">
        <div class="img-wrap"><img src="/images/06_main.jpg" alt="img6"/></div>
        <h2>CJ KX<span>Decomposing fruits and burning houses</span></h2>
        <button class="content-switch">Read more</button>
    </div> 
{% endblock %}
{% block content06__body %}
    <div class="content" data-content="content-6">
        <h2>CJ KX<span>Decomposing fruits and burning houses</span></h2>
        
        <img style="width: 100%; margin-bottom: -5px;" src="/images/06/01.png" alt=""/>
        {# <img style="width: 100%; margin-bottom: -5px;" src="/images/06/02.png" alt=""/> #}
        <img style="width: 100%; margin-bottom: -5px;" src="/images/06/03.png" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/06/04.png" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/06/05.png" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/06/06.png" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/06/07.png" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/06/08.png" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/06/09.png" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/06/10.png" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/06/11.png" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/06/12.png" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/06/13.png" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/06/14.png" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/06/15.png" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/06/16.png" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/06/17.png" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/06/18.png" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/06/19.png" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/06/20.png" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/06/21.png" alt=""/>
        <img style="width: 100%; margin-bottom: -5px;" src="/images/06/22.png" alt=""/>
        
        <p class="related">
            You might also like <a href="http://tympanus.net/Development/ArticleIntroEffects/">Inspiration for Article Intro Effects</a>
        </p>
    </div>
{% endblock %}


{% block scripts %}
<script src="/js/dragdealer.js"></script>
<script src="/js/classie.js"></script>
<script src="/js/dragslideshow.js"></script>
<script>
    (function() {

        var overlay = document.getElementById( 'overlay' ),
            overlayClose = overlay.querySelector( 'button' ),
            header = document.getElementById( 'header' )
            switchBtnn = header.querySelector( 'button.slider-switch' ),
            toggleBtnn = function() {
                if( slideshow.isFullscreen ) {
                    classie.add( switchBtnn, 'view-maxi' );
                }
                else {
                    classie.remove( switchBtnn, 'view-maxi' );
                }
            },
            toggleCtrls = function() {
                if( !slideshow.isContent ) {
                    classie.add( header, 'hide' );
                }
            },
            toggleCompleteCtrls = function() {
                if( !slideshow.isContent ) {
                    classie.remove( header, 'hide' );
                }
            },
            slideshow = new DragSlideshow( document.getElementById( 'slideshow' ), { 
                // toggle between fullscreen and minimized slideshow
                onToggle : toggleBtnn,
                // toggle the main image and the content view
                onToggleContent : toggleCtrls,
                // toggle the main image and the content view (triggered after the animation ends)
                onToggleContentComplete : toggleCompleteCtrls
            }),
            toggleSlideshow = function() {
                slideshow.toggle();
                toggleBtnn();
            },
            closeOverlay = function() {
                classie.add( overlay, 'hide' );
            };

        // toggle between fullscreen and small slideshow
        switchBtnn.addEventListener( 'click', toggleSlideshow );
        // close overlay
        overlayClose.addEventListener( 'click', closeOverlay );

    }());
</script>
{% endblock %}